target/
*.class
*.jar
!**/src/main/**/*.jar
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

node_modules/
dist/
.angular/
*.tgz
npm-debug.log*
yarn-error.log

.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

.docker/

.env
.env.local
*.pem
*.key
application-secrets.yml